<h4>Search</h4>
<form ng-submit="doSearch()" role="form">
      <div class="row">
        <input type="text" class="form-control" ng-model="variables.q" placeholder="Search string">
      </div>
      
      <div class="row">
        <div class="form-group col-md-2" ng-repeat="i in [0, 1, 2, 3, 4, 5]">
          <label class="checkbox" ng-repeat="key in schema.genres.slice(i*Math.ceil(schema.genres.length/6), (i+1)*Math.ceil(schema.genres.length/6))">
            <input ng-checked="variables.genres && variables.genres.indexOf(key) > -1" ng-click="toggleKey('genres', key)" type="checkbox" /> {{ key }}
          </label>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col-md-3">
            <label for="search_type">Year:</label>
            <select id="search_type" class="form-control" ng-model="variables.year" ng-options="year.value as year.name for year in [{value: '>=2013', name: '>=2013'}, {value: '>=2010', name: '>=2010'}, {value: '>=2000', name: '>=2000'}, {value: '>=1990', name: '>=1990'}]">
                <option value="">Any</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="search_type">Rating:</label>
            <select id="search_type" class="form-control" ng-model="variables.rating" ng-options="rating.value as rating.name for rating in [{value: '>=7.5', name: '>=7.5'}, {value: '>=7.0', name: '>=7.0'}, {value: '>=6.0', name: '>=6.0'}]">
                <option value="">Any</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="search_type">Votes:</label>
            <select id="search_type" class="form-control" ng-model="variables.votes" ng-options="votes.value as votes.name for votes in [{value: '>=50000', name: '>=50000'}, {value: '>=10000', name: '>=10000'}, {value: '>=2000', name: '>=2000'}]">
                <option value="">Any</option>
            </select>
        </div>
        <div class="form-group col-md-3">    
            
        </div>
      </div>
      <button type="submit" class="btn btn-default">Search</button>
</form>

