<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/">TidalStream</a>
  </div>
  <div class="collapse navbar-collapse" ng-if="isLoggedIn()">
    <ul class="nav navbar-nav">
      <li ng-if="features.section" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href>
        Sections <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="section in getSections()"><a ng-click="changePath(section.href)" href>{{ section.name }}</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href>
        Playback <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href><span ng-show="playbackOutput() == 'download'" class="glyphicon glyphicon-check"></span>
           <span ng-click="setPlaybackOutput($event, 'download');" ng-show="playbackOutput() != 'download'" class="glyphicon glyphicon-unchecked"></span>
           Download
          </a></li>
          
          <li ng-show="features.control" class="divider"></li>
          <li ng-show="features.control" class="dropdown-header">Players</li>
          <li ng-if="features.control && tsService.connectedToControl" ng-repeat="player in getPlayers()">
            <a ng-click="openPlayer(player)" href>
              <span ng-show="playbackOutput() == player" class="glyphicon glyphicon-check"></span>
              <span ng-click="setPlaybackOutput($event, player);" ng-show="playbackOutput() != player" class="glyphicon glyphicon-unchecked"></span>
              {{ player.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a><span ng-show="tsService.loadingData" class="glyphicon glyphicon-glass spinner"></span></a></li>
      <li><a><span tooltip="Current connection status" tooltip-placement="bottom" class="glyphicon glyphicon-cloud" ng-class="{disconnected: !tsService.connectedToControl, connected: tsService.connectedToControl}"></span></a></li>
      <li><a ng-click="logout()" href>Logout</a></li>
    </ul>
  </div><!--/.nav-collapse -->
  <div class="controller-popin visible-xs" ng-if="playbackOutput().player_id" ng-swipe-right="openPlayer(playbackOutput())"><span class="glyphicon glyphicon-expand"></span></div>
</div>