<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="playerModalLabel">Player - {{ player.name }}</h4>
</div>
<div class="modal-body" >
    <div ng-show="player.player.length">
        <div class="row-fluid">{{ player.player.title || 'No title found' }}</div>
        <div class="row-fluid">
        <a href tooltip="{{ currentPosition | timespan }}">
            <progressbar ng-mousemove="calculateCurrentPosition($event)" ng-click="clickOnProgressbar($event)" animate="false" max="player.player.length" value="player.player.current_time">{{ player.player.current_time | timespan }}/{{ player.player.length | timespan }}</progressbar>
        </a>
        </div>
        
        <div class="row-fluid" style="text-align: center;">
        <button ng-click="fastBackward()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-fast-backward"></span></button> <!--- goto previous -->
        <button ng-click="backward()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span></button> <!--- speed negative *2 -->
        <button ng-click="stop()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-stop"></button>  <!--- stop -->
        <button ng-click="pause()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pause"></span></button>  <!--- speed 0 -->
        <button ng-click="play()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>  <!--- speed 1 -->
        <button ng-click="forward()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-forward"></span></button>  <!--- speed *2 -->
        <button ng-click="fastForward()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-fast-forward"></span></button>  <!--- goto next -->
        </div>
        
        <div class="row-fluid" ng-show="player.player.subtitles.length > 0">
            Subtitle:
            <select class="form-control" ng-change="changedSubtitle()" ng-model="player.player.current_subtitle" ng-options="subtitle[0] as subtitle[1] for subtitle in player.player.subtitles">
                <option value="">No subtitles</option>
            </select>
        </div>
        <div class="row-fluid" ng-show="player.player.audiostreams.length > 1">
            Audio:
            <select class="form-control" ng-change="changedAudioStream()" ng-model="player.player.current_audiostream" ng-options="audiostream[0] as audiostream[1] for audiostream in player.player.audiostreams">
            </select>
        </div>
    </div>
    <div ng-hide="player.player.length">
        Currently not playing anything
    </div>
    <div class="row-fluid" ng-hide="getCurrentDefaultPlayer() == player.player_id"">
        <button ng-click="setDefaultPlayer(player)" class="btn btn-default">Set as default player</button>
    </div>
</div>