<h4>Search</h4>
<form ng-submit="doSearch()" role="form">
      <div class="row">
        <input type="text" class="form-control" ng-model="variables.q" placeholder="Search string">
      </div>
      
      <div class="row">
        <div class="form-group col-md-2" ng-repeat="i in [0, 1, 2, 3, 4, 5]">
          <label class="checkbox" ng-repeat="key in schema.genres.slice(i*Math.ceil(schema.genres.length/6), (i+1)*Math.ceil(schema.genres.length/6))">
            <input ng-checked="variables.genres && variables.genres.indexOf(key) > -1" ng-click="toggleKey('genres', key)" type="checkbox" /> {{ key }}
          </label>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col-md-3">
            <label for="search_type">Type:</label>
            <select id="search_type" class="form-control" ng-model="variables.type" ng-options="type for type in schema.type">
                <option value="">Any</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="search_tv_rating">TV Rating:</label>
            <select id="search_tv_rating" class="form-control" ng-model="variables.tv_rating" ng-options="tv_rating for tv_rating in schema.tv_rating">
                <option value="">Any</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="search_season_year">Year:</label>
            <select id="search_season_year" ng-init="variables.season = variables.season || ['', '']" class="form-control" ng-model="variables.season[0]" ng-options="season for season in schema.season | filter:isYear">
                <option value="">Any</option>
            </select>
        </div>
        <div class="form-group col-md-3">    
            <label for="search_season">Season:</label>
            <select id="search_season" class="form-control" ng-model="variables.season[1]" ng-options="season for season in schema.season | filter:not(isYear)">
                <option value="">Any</option>
            </select>
        </div>
      </div>
      <button type="submit" class="btn btn-default">Search</button>
</form>

